.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: aliceblue;
}

.home section h3 {
    font-size: 34px; 
    color:  #050605;
    margin-bottom: 20px; 
    margin-top: -180px;
    text-align: center;
}

/* Estilos para el buscador */
.search-and-sort {
    display: flex; 
    justify-content: space-between; 
    align-items: center;
}

.search-and-sort {
    position: relative;
    z-index: 1;
    margin-bottom: 20px;
}

/* Estilos para el campo de búsqueda */
.search-and-sort input[type="text"] {
    background-color: rgb(166, 234, 163);
    width: 250px; 
    height: 30px; 
    font-size: 14px; 
    padding: 5px;
}

.search-and-sort select{
    background-color: rgb(253, 239, 168);

}

.search-and-sort input[type="text"],
.search-and-sort select {
    margin-right: 0px;
}