/*__Diseños__ */

.nav{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Cambiar el fondo al pasar el cursor sobre el enlace del carrito */
.nav-link:hover.cart-link {
    background-color: #77d6f3; 
}

/* Cambiar el fondo al pasar el cursor sobre el enlace del texto */
.nav-link:hover.text-link {
    background-color: #77d6f3;
}

/* Media query para dispositivos móviles */
@media (max-width: 576px) {
    .nav {
        flex-direction: row; 
        justify-content: space-around; 
        align-items: center;
    }

    .nav-link {
        padding: 10px;
    }

    .nav-link.cart-link:hover,
    .nav-link.text-link:hover {
        background-color: initial;
        font-size: 24px;
        margin-left: 10px;
    }
}
