/* listau.css */

.lista-usuarios {
    margin-top: 50px;
    padding: 100px;
    background-color: #f1fdf8;
    border-radius: 10px;
}

.lista-usuarios h2 {
    margin-bottom: 20px;
}

.lista-usuarios table {
    width: 100%;
    border-collapse: collapse;
}

.lista-usuarios th,
.lista-usuarios td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
}

.lista-usuarios th {
    background-color: #e0e0e0;
}

.lista-usuarios button {
    background-color: #ef3431;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    margin-top: 10px;
}

.lista-usuarios button:hover {
    background-color: #ec4a47;
}


@media (max-width: 576px) {
    .lista-usuarios {
        padding: 130px;
    }

    .lista-usuarios table {
        font-size: 0.9em;
    }

    .lista-usuarios th,
    .lista-usuarios td {
        padding: 5px;
    }

    .lista-usuarios button {
        width: 100%;
        margin-top: 10px;
    }
}