.lista-tareas {
  text-align: center; 
  padding-top: 100px; 
  min-height: 90vh; 
  background-color: #f8f9fa;
  background: linear-gradient(to bottom, #d8f8e1, #e0c4fa,  #f4e0d1); 
}

.boton {
  display: inline-block;
  margin: 10px 5px;
  padding: 10px 20px; 
  background-image: linear-gradient(to right, #E6E6FA, #FFC0CB);
  color: #1b1a1a;
  text-decoration: none; 
  border: 3px solid #ffffff;
  border-radius: 5px; 
  cursor: pointer; 
}

.lista-tareas ul {
  list-style-type: none;
}