.perfil-admin {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 200px;
    max-width: 400px;
    margin: 170px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;

}

h2 {
    margin-top: 10px;
}

.lista-tareas-button {
    background-color: #f4b9f7;
    color: rgb(28, 26, 26);
    border: none;
    padding: 10px 20px;
    margin: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.lista-tareas ul {
    list-style-type: none;
    padding: 0;
}

.lista-tareas ul li {
    margin-bottom: 10px;
}

.lista-tareas ul li button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.lista-tareas ul li button:hover {
    background-color: #0056b3;
}

.perfil-administrador {
    text-align: center;
}

.perfil-administrador button {
    margin: 9px;
}

.salir-button {
    background-color: #f4b9f7;
    color: rgb(28, 26, 26);
    border: none;
    padding: 10px 20px;
    margin: 3px;
    border-radius: 5px;
    cursor: pointer;
}

.perfil-admin button:hover {
    background-image: linear-gradient(to right, #f7a2ca, #fdcbcb);
}